.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background-color: #1f2023;
  width: 50rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border: 1px solid transparent;
  border-image: linear-gradient(
      to left,
      #ff1e56 0%,
      #ca4889 10%,
      #c74a8b 35%,
      #9c5dae 55%,
      #9960b3 90%,
      #3b82f6 100%
    )
    1;
}

.feedback {
  /* height: 20rem;  */
  width: 40rem;
  border: 1px solid rgb(64, 63, 63);
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
  user-select: none;
}


.blur {
  position: absolute;
  inset: 0; /* Shortcut for top, left, right, bottom */
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
}

.suggestion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 3;
  padding-top: 2rem;
}

.suggestion_section {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; 
  z-index: 3;
}

.points_section{
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.points{
  list-style-type:none;
  font-size: large;
}

.points > li::before{
  content:'â­ ';
}

h2{
  text-align: center;
}
