.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
    position: fixed;
    top:auto;
    right: 5rem;
}


.fnt{
    object-fit: contain;
    height: 2.2rem;
    width: auto;
    color: white;
}

.fnt:hover{
    transform: scale(1.1);
}

@media (max-width:800px) {
    .links{
        right: 2rem;
    }

    .fnt{
        height: 2rem;
    }
}

@media (max-width:480px) {
    .links{
        flex-direction: row;
        position: fixed;
        bottom: 5rem;
        left: auto;
        right: auto;
    }
    .fnt{
        height: 1.8rem;
    }
}

