.refresh,.home{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.refresh:hover,.home:hover{
    box-sizing: border-box;
    background: rgb(129, 126, 126);
    color: black;
    border-radius: 50%;
    padding: 3px;
}